<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="jsonFile" value = "D:\学习\架构版班_学习课程\Course2\AsyncWinform\AsyncWinform\json1.json" />
    <add key="LogFile" value = "D:\学习\架构版班_学习课程\Course2\AsyncWinform\AsyncWinform\log.txt" />
  </appSettings>
</configuration>